.schedule {
  margin-bottom: 50px;
  padding-bottom: 40px;
  background-color: #f4f4f4;
  &__title {
    margin: 0;
    padding-top: 30px;
    color: $grey-text;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px 0 10px 20px;
    width: 280px;
    text-align: center;
    background: #fafafa;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.1);

    &--last {
      opacity: 0.3;
      background: radial-gradient(ellipse at center, #f3f3f3, #fafafa);
      margin-bottom: 40px;
      box-shadow: none;
    }
  }

  &__time {
    position: relative;
    color: $bg-date;

    &::before {
      position: absolute;
      content: '';
      top: -5px;
      left: 50px;
      width: 24px;
      height: 24px;
      background-image: url("../img/medical-sprite.png");
      background-position: -250px -160px;
    }
  }

  &__name {
    color: $active-color;
  }

  &__descr {
    color: $grey-text;
  }

  &__img {
    margin: 15px auto 5px;
  }

  &__link {
    position: relative;
    box-sizing: border-box;
    padding: 10px 10px 10px 55px;
    margin-bottom: 45px;
    width: 340px;
    margin-left: 23px;
    text-decoration: none;
    color: $white;
    background: $active-color;
    border-radius: 3px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;

    &::after {
      position: absolute;
      content: "";
      top: 8px;
      left: 25px;
      width: 18px;
      height: 18px;
      background-image: url("../img/medical-sprite.png");
      background-position: -116px -10px;
    }
  }
}
@media (min-width: 768px) {
  .schedule {
    &__item {
      flex-direction: row;
      width: 700px;
      padding: 20px 0;
      margin: 10px auto;
    }
    &__title {
      text-align: left;
      margin-bottom: 20px;
      margin-left: 35px;
      font-size: 28px;
      line-height: 32px;
    }
    &__inner-wrapp {
      display: flex;
      flex-direction: column;
      align-self: center;
    }

    &__time {
      width: 130px;
      margin-left: 45px;
      top: 5px;

      &::before {
        left: -20px;
        top: -5px;
      }

      &::after {
        position: absolute;
        content: "";
        top: -15px;
        right: 5px;
        height: 60px;
        width: 2px;
        background: #d6dce1;
      }
    }

    &__name {
      font-size: 18px;
      line-height: 36px;
      font-weight: 400;
      text-align: left;
    }

    &__descr {
      margin: 0;
      width: 400px;
      text-align: left;
      font-size: 30px;
      line-height: 32px;
      font-weight: 400;
    }

    &__link {
      text-align: center;
      box-sizing: border-box;
      position: relative;
      width: 380px;
      display: block;
      margin: 0 auto;
      padding: 20px 0;
      font-size: 18px;
      font-weight: 700;
      &::after {
        top: 21px;
      }
    }
  }
}
@media (min-width: 1140px) {
  .schedule {
    &__title {
      padding-top: 130px;
      font-size: 46px;
      line-height: 30px;
      font-weight: 500;
      margin-left: 0px;
      margin-bottom: 40px;
    }
    &__item {
      width: 100%;
    }
    &__inner-wrapp {
        width: 600px;
    }
    &__time {
      font-size: 24px;
      line-height: 36px;
      font-weight: 400;
      width: 300px;
      span {
        font-size: 30px;
        line-height: 36px;
        font-weight: 400;
      }
      &::before {
        top: 6px;
        left: 20px;
      }
    }
    &__descr {
      width: 600px;
      padding-left: 0;
      &--small {
        font-size: 24px;
      }
    }
  }
}
