.speaker {
  margin-bottom: 70px;
  &__wrapper {
    width: 280px;
    margin: 0 auto;
  }
  &__title {
    margin: 0;
    padding-top: 30px;
    color: $grey-text;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    margin-bottom: 10px;
  }
  &__data {
    background-color: #f4f4f4;
    padding-bottom: 25px;
  }
  &__img {
    padding-left: 50px;
    padding-top: 30px;
    border-radius: 50%;
  }
  &__name {
    position: relative;
    font-size: 22px;
    line-height: 24px;
    font-weight: 900;
    text-align: center;
    color: $grey-text;
    margin-bottom: 40px;
    padding-bottom: 30px;
    border-bottom: 2px solid #d6dce1;
  }
  &__job {
    text-align: center;
    font-size: 18px;
    line-height: 28px;
    font-weight: 500;
    color: #f82649;
    font-weight: 700;
  }
  &__descr {
    padding: 20px;
    background-color: #efeff0;
  }
  &__list {
    margin: 0;
    list-style: none;
  }
  &__item {
    padding: 5px 0;
    position: relative;
    color: $grey-text;
    &::before {
      position: absolute;
      content: "•";
      color: #f82649;
      left: -15px;
      top: -5px;
      width: 5px;
      height: 5px;
      font-size: 30px;
    }
  }
  &__number {
  position: absolute;
  left: 45%;
  top: 20px;
  color: $grey-text;
  font-size: 30px;
  &--active {
    color: $active-color;
    }
  }
  &-arrow {
    position: relative;
    display: flex;
    justify-content: flex-end;
  }
  &__prev-arrow {
    display: none;
  }
  &__next-arrow {
    display: none;
  }
}

@media(min-width: 768px) {
  .speaker {
    margin-bottom: 70px;
    &__name {
      font-size: 30px;
      font-weight: 900;
    }
    &__title {
      text-align: left;
      margin-left: 32px;
      font-size: 28px;
      line-height: 32px;
    }
    &__name {
      width: 345px;
      margin: 0 auto;
      margin-top: 40px;
    }
    &__wrapper {
      display: flex;
      flex-direction: row;
      justify-content: center;
      width: 700px;
    }

    &__item {
      font-size: 18px;
      line-height: 24px;
      font-weight: 400;
      padding: 10px 0;

      &::before {
        top: 10px;
      }
    }
    &__img {
      margin: 0 auto;
      margin-top: 50px;
      padding: 0
    }
    &__prev-arrow {
      display: none;
    }
    &__next-arrow {
      display: none;
    }
  }
}
@media (min-width: 1140px) {
  .speaker {
    &__item {
      line-height: 40px;
    }
    &__data {
      width: 415px;
    }
    &__descr {
      width: 685px;
    }
    &__wrapper {
      width: 1140px;
    }
    &__prev-arrow {
      position: relative;
      margin-right: 30px;
      top: 40px;
      right: 0;
    }
    &__next-arrow {
      position: relative;
      top: 40px;
      right: 20px;
    }
    &__title {
      font-size: 46px;
      font-weight: 500;
      padding-top: 80px;
      margin-bottom: 40px;
      margin-left: 0;
    }
  }
}
