.partners {
  background-color: #f4f4f4;
  padding-bottom: 20px;

  &__title {
    margin: 0;
    text-align: center;
    padding-top: 30px;
    color: $grey-text;
    font-size: 36px;
    line-height: 70px;
    font-weight: 500;
  }
  &__descr {
    text-align: center;
    padding-top: 10px;
    color: #585868;
    border-top: 2px solid $bg-line;
  }
  &__img {
    width: 240px;
  }
  &__slider {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 240px;
    margin: 0 auto;
    border-bottom: 2px solid $bg-line;
  }
  &__slider-img {
    margin: 10px 0;

    &--width {
      width: 240px;
    }
  }
}

@media (min-width: 768px) {
  .partners {

    &__title {
      text-align: center;
      margin-bottom: 40px;
    }
    &__inner-wrapp {
      display: flex;
      justify-content: space-around;
    }
    &__img {
      &--md-width {
        width: 350px;
        padding-top: 40px;
      }
    }
    &__slider {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 600px;
      margin-top: 30px;
    }
  }
}

@media (min-width: 1280px) {
  .partners {
    &__title {
      text-align: left;
    }
  }
  .partners__slider {
    flex-wrap: nowrap;
    width: 100%;
  }
}
