.programm {
  display: flex;
  width: 270px;
  flex-direction: column;
  padding-bottom: 25px;
  background: $bg-tab;
  margin-bottom: 25px;
  transition:all 0.5s 0s;
  &:hover {
    box-shadow: 0px 1px 20px 0px rgba(50, 50, 50, 0.4);
    transition:all 0.5s 0s;
  }
  &__img {
    display: flex;
    align-items: flex-end;
    width: 270px;
    height: 160px;
    background-repeat: no-repeat;
    &-1 {
      background-image: url('../img/teraphy.jpg');
    }
    &-2 {
      background-image: url('../img/geriatrya.jpg');
    }
    &-3 {
      background-image: url('../img/revmatologiya.jpg');
    }
    &-4 {
      background-image: url('../img/cardiologiya.jpg');
    }
    &-5 {
      background-image: url('../img/gastroentologiya.jpg');
    }
    &-6 {
      background-image: url('../img/pulpacia.jpg');
    }
    &-7 {
      background-image: url('../img/ultra.jpg');
    }
    &-8 {
      background-image: url('../img/doctor-practical.jpg');
    }
  }
  &__date {
    position: relative;
    width: 170px;
    padding: 8px 20px;
    font-size: 14px;
    line-height: 14px;
    font-weight: 400;
    background: $bg-date;
    color: $white;
    &::after {
      position: absolute;
      display: block;
      content: '';
      width: 83%;
      height: 2px;
      right: -60px;
      bottom: 0;
      background: $bg-date;
    }
  }
  &__title {
    margin: 0;
    margin-top: 40px;
    margin-left: 25px;
    margin-bottom: 10px;
    font-size: 25px;
    line-height: 25px;
    font-weight: 700;
    color: $grey-text;
  }
  &__text {
    flex-grow: 1;
    margin: 0;
    margin-left: 25px;
    margin-bottom: 35px;
    font-size: 14px;
    line-height: 14px;
    font-weight: 400;
    color: $grey-text;
  }
}
