.description {
  &__text {
    text-align: center;
    padding: 0 20px;
    font-size: 16px;
    line-height: 22px;
    color: $grey-text;
  }

  &__inner-wrapper {
    display: block;
    width: 200px;
    margin: 0 auto 5px 80px;
    font-size: 14px;
    line-height: 22px;
    color: $grey-text;
  }

  &__title {
    display: block;
    text-transform: uppercase;
    margin-bottom: 5px;
    color: #f82649;
  }

  &__item {
    position: relative;
    width: 280px;
    padding: 20px 0;

    &--icon::before {
      position: absolute;
      content: "";
      left: 10px;
      top: 25px;
      background: url("../img/medical-sprite.png");
    }

    &--doc::before {
      width: 46px;
      height: 60px;
      background-position: -50px -10px;
    }

    &--bigtime::before {
      width: 45px;
      height: 45px;
      background-position: 248px 56px;
    }

    &--type::before {
      width: 47px;
      height: 60px;
      background-position: -154px -10px;
    }
  }
}
@media (min-width: 768px) {
  .description {
    &__title {
      display: block;
      font-size: 18px;
      line-height: 28px;
      font-weight: 400;
    }

    &__wrapper {
      display: flex;
      width: 700px;
      margin-left: 0;
    }

    &__text {
      text-align: left;
      width: 500px;
      padding-top: 50px;
      font-size: 20px;
      line-height: 32px;
      font-weight: 400;
    }

    &__items {
      width: 300px;
      padding-left: 60px;
      position: relative;
      padding: 30px 0;

      &::before {
        position: absolute;
        content: "";
        left: 0;
        top: 0;
        width: 2px;
        height: 386px;
        background-color: #d7dde2;
      }
    }
    &__inner-wrapper {
      position: relative;
      width: 230px;
      font-size: 24px;
      line-height: 28px;
      font-weight: 400;
      &--small {
        font-size: 20px;
      }
      &::after {
        position: absolute;
        content: "";
        bottom: -30px;
        left: -76px;
        width: 300px;
        height: 1px;

        background: #d7dde2;
      }
      &--noelem::after {
        height: 0px;
      }
    }

  }
}
@media (min-width: 1140px) {
  .description {
    &__wrapper {
      width: 100%;
      justify-content: space-between;
    }
    &__text {
      width: 700px;
      margin: 0;
      padding: 0;
      padding-top: 90px;
    }
    &__items {
      width: 400px;
    }
    &__item {
      margin-left: 60px;
    }
    &__inner-wrapper {
      &::after {
        left: -138px;
      }
    }
  }

}
