.documents {
  background-color: #f4f4f4;
  &__title {
    margin: 0;
    padding-top: 30px;
    margin-bottom: 20px;
    color: $grey-text;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
  }
  &__descr {
    text-align: center;
    color: #585868;
  }

  &__inner-wrapp {
    position: relative;
    width: 300px;
    margin: 0 auto;
    margin-left: 35px;

    &::after {
      position: absolute;
      content: "";
      right: 40px;
      bottom: 100px;


      width: 35px;
      height: 34px;
      background: url("../img/medical-sprite.png");
      background-position: -200px -90px;
    }
    img {
      border: 15px solid white;
    }
  }
}


@media (min-width: 768px) {
  .documents {

    &__title {
      text-align: left;
      margin-left: 60px;
      margin-bottom: 20px;
      font-size: 28px;
      line-height: 32px;
    }
    &__wrapper {
      margin-top: 30px;
      display: flex;
      justify-content: space-between;
      margin: 0 60px;
      width: 300px;
    }
    &__inner-wrapp {

      &::after {
        right: -22px;
        bottom: 72px;
      }
    }
  }
}

@media (min-width: 1440px) {
  .documents {
    padding-top: 30px;
    padding-bottom: 120px;

    &__inner-wrapp {
      display: flex;
      width: 700px;
      margin: 0 auto 0 100px;
      &::after {
        right: 120px;
        bottom: -6px;
      }
    }
    &__descr {
        align-self: flex-end;
        margin-left: 20px;
    }
    &__title {
      margin-left: 160px;
    }
  }
}
